{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'partials/_menu.html'%}
  
  <main>
    <section class="section-cadastro">
      <form action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data" 
      class="form form-cadastro"> 
        {% csrf_token %}
        <h1 class="title">Cadastrar usuário</h1>
        <div class="form__field">
          <label for="name" class="form-cadastro__label">Nome</label>
          <input type="text" id="name" name="nome" class="form__input" required>
        </div>
        <div class="form__field">
          <label for="email" class="form-cadastro__label">Email</label>
          <input type="email" id="email" name="email" class="form__input" required>
        </div>
        <input type="submit" id="cadastro" class="button" value="Cadastrar">
      </form>
      {% include 'partials/_alerts.html' %}
    </section>
  </main>

{% endblock %}