.form-section {
    align-self: stretch;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.form__container {
    display: flex;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    align-self: stretch;
}

.form-message {
    color: #676b70;
    font-size: 14px;
    font-weight: 500;
    align-self: start;
}

.form__label {
    padding: 8px;
    font-weight: 500;
}

.choose {
    background-color: #E9ECEF;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

#upload {
    display: none;
}