.login__header {
    background-color: #212529;
    color: #FFFFFF;
    font-size: 22px;
    padding: 12px 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

.section-login {
    align-self: center;
    align-items: center;
    gap: 32px;
}

.login__title {
    font-size: 28px;
    text-transform: uppercase;
}

.form-login {
    align-self: center;
    gap: 16px;
}

.form-login__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 600px;
    max-width: 100%;
    align-self: stretch;
}