.table-section {
    align-self: stretch;
}

.table-section__title {
    font-size: 28px;
    text-transform: uppercase;
}

.table {
    align-self: stretch;
    gap: 0;
}

.table__header {
    background-color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    padding: 6px;
    font-size: 16px;
}

.table-transacoes__header {
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #E2E5E9;
}

.table-transacoes__header:last-of-type {
    border-bottom: 2px solid #000000;
}

.table-transacoes__subheader {
    background-color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid #E2E5E9;
    border-bottom: 2px solid #000000;
    padding: 6px;
    font-size: 16px;
}

.table__row {
    background-color: #FFFFFF;
    font-size: 16px;
}

.table__row:nth-child(2n+1) {
    background-color: #F2F2F2;
}

.table__cell {
    padding: 6px;
    font-weight: 500;
    border-bottom: 1px solid #E2E5E9;
}

.table-transacoes__cell {
    padding: 6px;
    font-weight: 500;
    padding: 6px;
    font-weight: 500;
    border: 1px solid #E2E5E9;
}

.table-button {
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.edit-button, .detail-button {
    color: #012637;
    background-color: #0DCAF0;
}

.remove-button {
    color: #FFFFFF;
    background-color: #DC3545;
    padding: 5.5px 4px;
}

.remove-button--inactive {
    cursor: default;
    color: #757575;
    background-color: #CCCCCC;
}