{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html'%}

  <main>
    <section class="table-section">
      <h1 class="title">Detalhes da importação</h1>
      <div class="container">
        <table class="info-table">
          <tr>
            <th>Importado em</th>
            <td>{{ importacao.data_importacao }}</td>
          </tr>
          <tr class="info-table__row">
            <th>Importado por</th>
            <td>{{ importacao.user.first_name }}</td>
          </tr>
          <tr class="info-table__row">
            <th>Data transações</th>
            <td>{{ importacao.data_transacoes.date }}</td>
          </tr>
        </table>
      </div>


      <h3 class="table-section__title">Transações importadas</h3>
      <table class="table" cellspacing="0">
        <thead>
          <th class="table-transacoes__header" colspan="3">Origem</th>
          <th class="table-transacoes__header" colspan="3">Destino</th>
          <th class="table-transacoes__header" rowspan="2">Valor</th>
          <tr>
            <th class="table-transacoes__subheader">Banco</th>
            <th class="table-transacoes__subheader">Agência</th>
            <th class="table-transacoes__subheader">Conta</th>
            <th class="table-transacoes__subheader">Banco</th>
            <th class="table-transacoes__subheader">Agência</th>
            <th class="table-transacoes__subheader">Conta</th>
          </tr>
        </thead>
        <tbody>
          {% for transacao in transacoes %}
            <tr class="table__row">
              <td class="table-transacoes__cell">{{ transacao.banco_origem }}</td>
              <td class="table-transacoes__cell">{{ transacao.agencia_origem }}</td>
              <td class="table-transacoes__cell">{{ transacao.conta_origem }}</td>
              <td class="table-transacoes__cell">{{ transacao.banco_destino }}</td>
              <td class="table-transacoes__cell">{{ transacao.agencia_destino }}</td>
              <td class="table-transacoes__cell">{{ transacao.conta_destino }}</td>
              <td class="table-transacoes__cell">{{ transacao.valor_transacao|mask_money }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>

  <script src="{% static 'js/form.js' %}"></script>

{% endblock %}